<legend>Recuperar Password</legend>

<form style="border-style: dashed; background:white" class="container">	
	<div class=" row "> <!-- Last Name -->
	<div class="col-lg-12">
		<label  >Recupera tu cuenta Smart</label>
	</div>
	</div>
	<div class=" row "> <!-- Last Name -->
	<div class="col-lg-12">
		<label >--------------------------------------------------------</label>
	</div>
	</div>
	
	<div class="row "> <!-- Register Button -->
	<div class="col-lg-6">
		<a routerLink="/"> <button  style="width:100%"class="btn btn-primary"> <= Main Page</button></a>
	</div>
	</div>
	<div class=" row " > <!-- First Name -->	
	<div class="col-lg-12">
		<p > A email was sent to {{ data.email  }}</p>
	</div>
	</div>


	
	
	
	
	

</form>	
